.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
  
  }
  .p-fieldset{
      margin: 10px;
  }
  /* 
  .img {
      width: 100%;
      background: lightgray;
      height: 100px;
      margin: 0 auto;
      background: var(--tg-theme-button-color);
  } */
  
  .product .img {
    text-align: center; 
    margin-bottom: 10px;
  }
  
  
  .product .img img {
    width: 150px; 
    height: 130px;  
    display: block; 
    margin: 0 auto; 
  }
  
  .product .title,
  .product .description,
  .product .price {
    margin-bottom: 10px;
  }
  
  .product .price{
  margin: 1rem 0 1rem 0;
  }
  
  .title{
      text-align: center;
      font-size: large;
      font-weight: bold;
  }
  
  .description {
    font-size: 0.8em;
  }
  
  .add-btn {
    width: 100%;
  }
  
  .p-fieldset-legend {
    padding: 0.5rem 1rem;
  }
  
  
  .product .add-btn {
      display: inline-block;
      padding: 10px 20px; 
      background-color: #d5d6d7;
      color: #343a40; 
      border: none;
      border-radius: 5px;
      cursor: pointer; 
      text-decoration: none; 
      transition: background-color 0.3s ease, color 0.3s ease;
      
    }
    
  
    .product .add-btn:hover {
      background-color: #6366F1;
      color: #ffffff;
    }
    
    
  
  b {
      font-weight:  normal;
      text-decoration: underline;
  }